drop database if EXISTS exemple;

create database exemple;

use exemple;

CREATE TABLE dept (
	nodept varchar(50) NOT NULL PRIMARY KEY,
	nom varchar(50) NOT NULL,
	noregion varchar(50) NOT NULL
);

CREATE TABLE employe(
	noemp int NOT NULL PRIMARY KEY,
	nom varchar(50) NOT NULL,
	prenom varchar(50) NOT NULL,
	dateemb datetime NOT NULL,
	nosup varchar(50) NULL,
	titre varchar(50) NOT NULL,
	nodep varchar(50) NOT NULL REFERENCES dept(nodept),
	salaire decimal(18, 0) NOT NULL,
	tauxcom decimal(18, 0) NULL
);

INSERT INTO
	dept (nodept, nom, noregion)
VALUES
	('10', 'finance', '1');

INSERT INTO
	dept (nodept, nom, noregion)
VALUES
	('20', 'atelier', '2');

INSERT INTO
	dept (nodept, nom, noregion)
VALUES
	('30', 'atelier', '3');












INSERT INTO
	employe (
		noemp,
		nom,
		prenom,
		dateemb,
		nosup,
		titre,
		nodep,
		salaire,
		tauxcom
	)
VALUES
	(
		1,
		'patamob',
		'adhémar',
		'20000326',
		NULL,
		'président',
		'50',
		50000,
		NULL
	);

INSERT INTO
	employe (
		noemp,
		nom,
		prenom,
		dateemb,
		nosup,
		titre,
		nodep,
		salaire,
		tauxcom
	)
VALUES
	(
		2,
		'zeublouse',
		'agathe',
		'20000415',
		'1',
		'dir.distrib',
		'41',
		35000,
		NULL
	);

INSERT INTO
	employe (
		noemp,
		nom,
		prenom,
		dateemb,
		nosup,
		titre,
		nodep,
		salaire,
		tauxcom
	)
VALUES
	(
		3,
		'kuzbidon',
		'alex',
		'20000505',
		'1',
		'dir.vente',
		'31',
		34000,
		NULL
	);






















